*{
	margin: 0px;
	padding: 0px;
	/*cursor: url("https://img.icons8.com/dusk/32/000000/cursor.png"), default;*/
}

body{
	background-color: #2f4050;
	
}
.activeNav{
	border-bottom: 2px solid red;
}
.color-me{
	color: black;
	font-weight: bold;
	font-size: 1.4rem;

}

.Line{
	height: 3px;
	background-color: #4b569e;
}
body{
	
	 /* background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(backdark.png) center center no-repeat;*/
	 background-color:#dfedf3;
	  height: 100%; 
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  /*background-size: cover;*/

}
.adminside{
	background-color:#2f4050;
}
#sidemenu a{
	color: #9fb1c2;
	margin-bottom: 20px;
}
#sidemenu .active a{
	color: #ffffff;
	background-color: #27aaf1;
	font-weight: bold;
}
#sidemenu a:hover{
	color: #ffffff;
	background-color:#1ab394;
	font-weight:bold;
	/*display: block;*/
}
.adminmiddle{
	/*background-color:rgb(255,255,255,1);*/
	background-color: white;
}

.blog-header{
	margin-left: 15px;
}


.loginpage{
	border-radius: 0px;
	background:#ffffff;
	box-shadow: 10px 10px 0px black;
}
#footer{
	padding: 10px;
	border-top: 1px solid black;
	color: white;
	background-color: #211f22;
	text-align: center;
	bottom: 0;
}
#footer li a{
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
}
#footer ul li{
	display: inline-block;
}
#footer ul li a:hover{
	background-color: black;
}


form{
	background-color: transparent;
	/*padding: 20px;*/
	box-sizing:border-box; 
	/*border: .5px solid gray;*/
}
.form-group label{
	font-size: 20px;

}
.catName{
			font-family: arial ,verdana ,sans-serif;
			font-size: 1.6rem;
			color: #005e90;
			font-weight: bold;
}
.titleofname{
	color:rgba(51, 122, 183, 1); 
	font-weight: bold; 
	word-wrap: break-word; 
	width: 200px;
}

.uploadedPic{

}
.uploadedPicImg{
	height: 200px;
	width: 200px;
}